.header {
	background: rgb(18, 18, 18);
	color: whitesmoke;
	height: 70px;
	font-size: larger;
	position: sticky;
	top: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
